.SearchForm
  width: 100%
  height: 100%
  display: flex

  &__submit
    width: 8%
    height: 100%
    color: #9E9E9E
    font-size: 1.5vw
    font-weight: bold
    background-color: #F3F3F3
    border: none
    border-radius: 8% 0 0 8% / 15% 0 0 15%
    outline: none
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 1.3%
    margin: 0

  &__text
    width: 86%
    height: 100%
    color: #9E9E9E
    font-size: 1.15vw
    font-weight: bold
    background-color: #F3F3F3
    border: none
    border-radius: 0 1% 1% 0 / 0 15% 15% 0
    outline: none
    padding-right: 3%
    margin: 0

    &::placeholder
      color: #9E9E9E

_::-webkit-full-page-media, _:future, :root .SearchForm__submit
  padding-right: 0

_::-webkit-full-page-media, _:future, :root .SearchForm__text
  -webkit-appearance: textfield
  padding-left: 0
